---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navBarChild {
  float: left;
}

.navBarChild a {
  display: block;
  color: white;
  text-align: center;
  padding: 50% 25%;
  text-decoration: none;
}

